body{
    background-color: #0c0c0c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    height: 100vh;
    gap: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container{
    max-width: 1200px;
    width: 1000px;
    background-color: rgb(36, 37, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: 400px;
    overflow: hidden;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#name{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100%;
}

#message{
    font-size: 30px;
}   